@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");
body {
  background: white;
  font-family: "Raleway", "Source Sans Pro", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  min-width: 320px;
  max-width: 100%;
  padding: 0;
}

.wrap {
  min-width: 320px;
  max-width: 1200px;
  padding: 0;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  font-family: "Source Sans Pro";
}

.header, .banner, .catalog, .products, .about, .partners {
  margin-bottom: 65px;
}

.catalog__title, .products__title, .about__title, .partners__title {
  margin-bottom: 25px;
}

@media (max-width: 640px) {
  .header, .banner, .banner__wrap, .catalog, .products, .about, .partners {
    margin-bottom: 20px;
  }
  .catalog__title, .products__title, .about__title, .partners__title {
    margin-bottom: 10px;
  }
  h1 {
    font-weight: bold;
    font-size: 20px;
    font-family: "Source Sans Pro";
  }
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2"), url("../fonts/SourceSansPro-SemiBold.woff") format("woff"), url("../fonts/SourceSansPro-SemiBold.ttf") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.header__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.header__logo {
  margin-right: 20px;
}

.search {
  min-width: 472px;
  width: 100%;
  min-height: 36px;
  border: 1px solid #008dd2;
  outline: none;
  padding: 0 80px 0 15px;
  background-color: #fff;
  border-radius: 24px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #101010;
}

.header-icon__search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__form {
  position: relative;
}

.cart-block {
  position: relative;
  margin-left: 30px;
}

.cart-block > .quantity {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 100%;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #008dd2;
  border-radius: 50%;
  top: -9px;
  right: -8px;
}

@media (max-width: 1123px) {
  .search {
    max-width: 472px;
    min-width: inherit;
  }
}
@media (max-width: 991px) {
  .header__wrap {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .header__logo {
    margin-right: 0;
  }
}
@media (max-width: 526px) {
  .header__form {
    display: none;
  }
}
.header__menu {
  padding: 0;
  margin: 0 2px 0 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.menu__element a:hover {
  color: #008dd2;
}

.menu__link {
  font-size: 12px;
  font-family: "Raleway";
  color: #707070;
  line-height: 1.667;
  transition-duration: 500ms;
  transition-property: color;
  text-decoration: none;
}

.menu__hamburger {
  margin-left: auto;
  margin-left: 20px;
  appearance: none;
  border: none;
  width: 40px;
  height: 35px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.menu__hamburger span {
  display: block;
  background: black;
  height: 5px;
  width: 30px;
  margin: 5px 0;
}

.menu__hamburger::after, .menu__hamburger::before {
  display: block;
  background: black;
  height: 5px;
  width: 30px;
  content: "";
}

@media (max-width: 1037px) {
  .menu__hamburger {
    display: block;
  }
  .menu--active .header__menu {
    display: block;
  }
  .menu--active .menu__hamburger {
    transform: rotate(90deg);
    padding-top: 0;
  }
  .menu {
    padding: 11px 0;
  }
}
@media (max-width: 991px) {
  .menu {
    width: 100%;
    order: 1;
  }
  .header__wrap {
    justify-content: space-between;
  }
  .header__logo {
    padding-left: 13px;
  }
  .cart-block {
    margin-right: 20px;
  }
  .navbar-toggler {
    color: #008dd2;
  }
  .menu__element {
    margin-right: 0;
  }
  .menu__element:hover {
    border-bottom: 1px solid #008dd2;
  }
}
@media (max-width: 526px) {
  .menu__element {
    text-align: center;
  }
}
.banner__wrap .carousel img {
  opacity: 1;
}

.banner__info {
  max-width: 572px;
}
.banner__info h1 {
  font-family: "Source Sans Pro";
  font-size: 45px;
  font-weight: 700;
}
.banner__info .carousel-caption {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.banner__title {
  font-size: 80px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.banner__little {
  font-size: 43px;
  display: block;
}

.banner__btn {
  color: #F04330;
  border-radius: 36px;
  border: 2px solid transparent;
  background-color: #ffffff;
  width: 220px;
  height: 52px;
  box-shadow: none;
  appearance: none;
  display: block;
  text-align: center;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: bold;
  cursor: pointer;
  transition-property: background, border-color;
  transition-duration: 500ms;
  display: inline-block;
}

@media (max-width: 1010px) {
  .banner__info h1 {
    font-size: 22px;
  }
  .banner__info button {
    width: 150px;
    height: 32px;
  }
  .banner__info .carousel-caption {
    margin-bottom: 20px;
  }
}
@media (max-width: 730px) {
  .banner__info p {
    display: none;
  }
}
@media (max-width: 610px) {
  .banner__info {
    margin: 0 auto;
    text-align: center;
  }
  .banner__info .carousel-caption {
    padding-bottom: 0;
  }
  .banner__info h1 {
    font-size: 18px;
  }
  .banner__title {
    font-size: 40px;
    line-height: 1.3;
  }
  .banner__little {
    font-size: 20px;
  }
  .banner__text {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .banner__btn {
    width: 150px;
    height: 44px;
  }
  .banner__btn {
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  .banner__info {
    margin: 0 auto;
    text-align: center;
  }
  .banner__info .carousel-caption {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .banner__info h1 {
    font-size: 18px;
  }
}
@media (max-width: 421px) {
  .banner__info .banner__btn {
    font-size: 10px;
    height: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .banner__info h1 {
    font-size: 12px;
  }
}
.catalog__list {
  display: grid;
  grid-template-areas: "catalog__item--one catalog__item--two catalog__item--three catalog__item--for" "catalog__item--five catalog__item--six . .";
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 40px;
}
.catalog__list figcaption {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 20px;
  color: #101010;
}
.catalog__list img {
  display: block;
  width: 100%;
}
.catalog__list a {
  text-decoration: none;
}

.catalog__item {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
  min-height: 200px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  border: 1px solid #D0D0D0;
  padding: 20px;
}
.catalog__item figcaption {
  text-align: center;
}

@media (max-width: 960px) {
  .catalog__list {
    grid-template-areas: "catalog__item--one catalog__item--two" "catalog__item--three catalog__item--for" "catalog__item--five catalog__item--six";
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}
@media (max-width: 610px) {
  .catalog__list {
    grid-gap: 20px;
  }
  .catalog__list figcaption {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .catalog__list {
    grid-template-areas: "catalog__item--one" "catalog__item--two" "catalog__item--three" "catalog__item--for" "catalog__item--five" "catalog__item--six";
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
.products__list {
  display: grid;
  grid-template-areas: "products__item--one products__item--two products__item--three products__item--for" "products__item--five products__item--six products__item--seven products__item--eight";
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 40px;
}
.products__list a {
  text-decoration: none;
}
.products__list img {
  display: block;
  width: 100%;
}

.products__item {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
  min-height: 200px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  border: 1px solid #D0D0D0;
  padding: 20px;
}
.products__item figcaption {
  text-align: center;
  font-size: 16px;
  color: #101010;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 960px) {
  .products__list {
    grid-template-areas: "products__item--one catalog__item--two" "products__item--three catalog__item--for" "products__item--five catalog__item--six" "products__item--seven products__item--eight";
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}
@media (max-width: 610px) {
  .products__list {
    grid-gap: 20px;
  }
  .products__list figcaption {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .products__list {
    grid-template-areas: "products__item--one" "products__item--two" "products__item--three" "products__item--for" "products__item--five" "products__item--six" "products__item--seven" "products__item--eight";
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
.about__info {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px 0 30px;
  align-items: center;
  justify-content: space-between;
}

.about__description {
  padding-left: 50px;
  box-sizing: border-box;
  flex-basis: calc(100% - 300px);
  font-family: "Montserat";
  font-size: 16px;
  line-height: 150%;
}

.about__image {
  flex-basis: auto;
}

@media (max-width: 760px) {
  .about__description {
    padding-left: 0;
  }
  .about__info {
    padding: 0;
  }
}
@media (max-width: 640px) {
  .about__info {
    flex-direction: column;
  }
  .about__image {
    text-align: center;
    order: 1;
  }
}
.partners__list {
  display: grid;
  grid-template-areas: "partners__item--one partners__item--two partners__item--three partners__item--for" "partners__item--five partners__item--six partners__item--seven partners__item--eight";
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 40px;
}
.partners__list a {
  text-decoration: none;
}
.partners__list img {
  display: block;
  width: 100%;
}

.partners__item {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
  min-height: 200px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  border: 1px solid #D0D0D0;
  padding: 20px;
}

@media (max-width: 960px) {
  .partners__list {
    grid-template-areas: "partners__item--one catalog__item--two" "partners__item--three catalog__item--for" "partners__item--five catalog__item--six" "partners__item--seven products__item--eight";
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}
@media (max-width: 610px) {
  .partners__list {
    grid-gap: 20px;
  }
}
@media (max-width: 360px) {
  .partners__list {
    grid-template-areas: "partners__item--one" "partners__item--two" "partners__item--three" "partners__item--for" "partners__item--five" "partners__item--six" "partners__item--seven" "partners__item--eight";
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo {
  flex-basis: 20%;
}

.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.button-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 197px;
  height: 43px;
  background: #008dd2;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 24px;
  font-size: 16px;
  line-height: 19px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  position: relative;
  padding: 0 24px;
}
.button-call::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/call.png") no-repeat;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.button-up {
  transition-duration: 1s !important;
  width: 44px;
  height: 44px;
  background: #008dd2;
  background-image: url("../img/vector.png");
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 30px;
}
.button-up:hover {
  background: var(--bs-link-hover-color);
  background-image: url("../../img/vector_black.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer__links_about h3, .footer__links_customers h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Source Sans Pro";
  padding-bottom: 0;
  margin-bottom: 0;
}
.footer__links_about ul, .footer__links_customers ul {
  list-style: none;
  padding-left: 0;
}
.footer__links_about ul li, .footer__links_customers ul li {
  padding-top: 10px;
}
.footer__links_about ul li a, .footer__links_customers ul li a {
  text-decoration: none;
  color: black;
}

@media (max-width: 960px) {
  .footer__links_customers ul li, .footer__links_about ul li {
    padding-top: 0;
    font-size: 14px;
  }
}
@media (max-width: 750px) {
  .footer__wrap {
    padding-bottom: 20px;
  }
  .footer__buttons {
    justify-content: space-between;
    flex-basis: 100%;
  }
  .footer__buttons a {
    margin-left: 0;
  }
}
@media (max-width: 481px) {
  .footer__wrap {
    padding-bottom: 20px;
  }
  .footer__buttons {
    justify-content: space-between;
    flex-basis: 100%;
  }
  .footer__buttons a {
    margin-left: 0;
  }
  .footer__logo {
    flex-basis: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
