.partners__list{
  display: grid;
  grid-template-areas: 'partners__item--one partners__item--two partners__item--three partners__item--for'
                       'partners__item--five partners__item--six partners__item--seven partners__item--eight';
  grid-template-columns: repeat(4,minmax(200px,1fr));
  grid-gap: 40px;

  a{
    text-decoration: none;
  }

  img{
    display: block;
    width: 100%;
  }
}

.partners__item{
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
  min-height: 200px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  border: 1px solid #D0D0D0;
  padding: 20px;
}

@media (max-width: 960px) {
  .partners__list {
    grid-template-areas: 'partners__item--one catalog__item--two'
                         'partners__item--three catalog__item--for'
                         'partners__item--five catalog__item--six'
                         'partners__item--seven products__item--eight';
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

@media (max-width: 610px) {
  .partners__list {
    grid-gap: 20px;
  }
}

@media (max-width: 360px) {
  .partners__list {
    grid-template-areas: 'partners__item--one'
                         'partners__item--two'
                         'partners__item--three'
                         'partners__item--for'
                         'partners__item--five'
                         'partners__item--six'
                         'partners__item--seven'
                         'partners__item--eight';
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}